@media only screen and (max-width: 768px) {
    .popup {
        top: 0;
        left: 0;
        transform: none;
        max-width: 480px;
        &__body {
            flex-direction: column-reverse;
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    .form-field {
        margin: 0 0 20px;
    }

    .col-1-of-2 {
        padding: 0;
    }

    .form-field {
        &:last-child {
            margin-bottom: 25px;
        }

        & a {
            margin-right: 0;
        }
    }

    .col-1-of-2, .button--fb, .button--gp {
        width: 100%;
    }
    .bordered {
        margin-top: 25px;
        padding-top: 25px;
        border: none;
        border-top: 1px solid rgba(0, 0, 0, .149);
        height: 140px;
    }
}
